<main class="contenedor">
    <form action="/users/create" method="POST" class="default-form">
           <div class="campo">
            <label>Usuario</label>
            <input type="text" name="userName" placeholder="Tu Usuario">
        </div>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="firstName" placeholder="Tu Nombre">
        </div>
                <div class="campo">
            <label>Apellido</label>
            <input type="text" name="lastName" placeholder="Tu Apellido">
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu E-Mail">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Tu Password">
        </div>
        <div class="campo">
            <label>Rol</label>
            <input type="text" name="rol" placeholder="Rol">
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>